@tailwind base;
@tailwind components;
@tailwind utilities;

.react-datepicker {
  @apply border-none shadow;
}

.react-datepicker__navigation span::before {
  top: 12px;
}

.react-datepicker__header {
  @apply bg-gray-100 border-none shadow;
}
.react-datepicker__day:hover {
  @apply bg-blue-400 text-white;
}

.react-datepicker__day--in-selecting-range {
  --tw-bg-opacity: 1;
  background-color: rgb(96 165 250 / var(--tw-bg-opacity)) !important;
}

.react-datepicker__day--in-range {
  @apply bg-blue-500;
}

.react-datepicker__day--selected,
.react-datepicker__day--range-end {
  @apply bg-blue-400;
}
